<div class="container" style="margin-top:100px;">
    <h1 class="page-header">About Us</h1>
</div>
<div class="about">
    <div class="container">
        <div class="text-center">
            <div id="shaktiman" class="col-md-10 col-md-offset-1" style="margin-top:20px;">
                <img src="assets/img/shaktiman.png" class="img-responsive center-block" alt="">
                <h2 class="page-header">AGRICULTURAL MACHINERIES & EQUIPMENT DIVISION</h2>
                <ul class="text-left">
                    <li>Rotovator/Rotary tillers</li>
                    <li>Power Harrow</li>
                    <li>Post Hole Digger</li>
                    <li>Mobile Biograss Shredder</li>
                    <li>Self Propelled Boom Sprayer</li>
                    <li>Post Hole Digger Square & Round Baler</li>
                    <li>Banana Trunk Tusker</li>
                    <li>Parts Supply & Services</li>
                </ul>
            </div>
            <div id="crci" class="col-md-10 col-md-offset-1" style="margin-top:20px;">
                <img src="assets/img/crcilogo.png" class="img-responsive center-block" alt="">
                <h2 class="page-header">THERMAL ENERGY DIVISION</h2>
                <ul class="text-left">
                    <li>Modification/retrofitting of oil-fired steam boilers into solid/biomass-firing with any kind of solid
                        fuels utilizing the state of the art fluidized bed combustion system</li>
                    <li>Modification/retrofitting of any types and size of oiled-fired furnaces and combustion systems into solid
                        firing
                    </li>
                    <li>Design, supply, installation and commissioning of any types and sizes of solid fired boilers, furnaces,
                        incinerators, heat recovery boilers and the like.</li>
                    <li>Official Philippine representative of China Western Power Engineering Company, a first class triple "A"
                        EPC and system solutions for power and co-generation plan using coal or biomass fuels.</li>
                    <li>Exclusive Philippine Distributor of "HEATEX" solid fired thernmal oil heater using bubbling bed combustion
                        system as well as other tyoes of grating system.</li>
                    <li>Designing, fabrication, installation and commissioning of pulverized coal burner for asphalt batching
                        plants and/or other applications such as limestone drying, ceramic material drying , etc. to save
                        as high as 70% on fuel costs.</li>
                    <li>Design and installation of steam pipelines, economizers, thermal insulation, refractory works , etc.</li>
                    <li>General repair and maintenance of any types of sold fired boilers, furnaces and thermal related equipments.</li>
                    <li>Supply of bended boiler tubes, FBC furnace tubes for Hamada boilers, retubing works, refractory works,
                        etc.
                    </li>
                    <li>Supply of any replacement parts for Hamada boiler, whether fluidized bed or chain stoker type.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>
    <!-- Container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- 1st Col-lg-6 col-md-6 -->
            <div class="col-lg-6 col-md-6">
                <h3 class="footer-title">Contact Us</h3>
                <p class="footer-com"> COMBUSTION RETROFITTING CO.. INC</p>
                <div class="row">
                    <!-- 2nd Row Inside for col separaton -->
                    <div class="col-lg-6 col-md-12">
                        <!-- 1st col inside another separate -->
                        <div class="footer-nav">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p>
                                No. 916 Cabanatuan-Palayan road,
                                <br> Bantug Norte, Cabanatuan City
                                <br> Nueva Ecija, 3100 Philippines
                            </p>
                        </div>

                        <div class="footer-nav">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>
                                Tel. No.
                                <br> (044) 940-0706
                                <br> Cel. No.
                                <br> +63-9953198-924
                            </p>
                        </div>
                    </div>
                    <!-- /End 1st col inside another separate -->

                    <div class="col-lg-6 col-md-12">
                        <!-- 2nd col inside another separate -->
                        <div class="footer-nav">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <p>
                                sales.shaktiman@comretro.com
                                <br> dakila.palomo@comretro.com
                                <br> donpaul.palomo@hamadaboilerindo.com
                                <br> marie.palomo@comretro.com
                                <br> johnlouieborja@gmail.com
                                <br> nelmorris.duatin@comretro.com
                                <br> leejay.ortiz@comretro.com
                                <br>
                            </p>
                        </div>

                    </div>
                    <!-- /End 2nd col inside another separate -->
                </div>
                <!-- /End 2nd Row Inside for col separaton -->


            </div>
            <!-- /End 1st Col-lg-6 col-md-6 -->

            <!-- 2nd Col-lg-6 col-md-6 -->
            <div class="col-lg-6 col-md-6">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_nav_menu">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 class="title-widget">Products</h3>
                                <ul>
                                    <li>
                                        <a routerLink="/products/mini-series"> Rotary Tiller</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/power-harrow"> Power Harrow</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/roto-seed-drill"> Roto Seed Drill</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/post-hole-digger"> Post Hole Digger</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/fertilizer-broadcaster"> Fertilizer Broadcaster</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/mobile-shredder"> Mobile Shredder</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/compost-spreader"> Compost Spreader</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/round-baler"> Round Baler</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-sm-4">
                                <h3 class="title-widget">&nbsp;</h3>
                                <ul>
                                    <li>
                                        <a hrouterLink="/products/hay-rake"> Hay Rake</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/rotary-slasher"> Rotary Slasher</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/self-propelled-platform"> Self Propelled Platform</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/square-baler"> Square Baler</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/boom-sprayer"> Boom Sprayer</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-4">
                                <ul class="list-unstyled clear-margins">
                                    <li class="widget-container widget_recent_news">
                                        <h3 class="title-widget">SOCIAL</h3>
                                        <div class="social-icons">
                                            <a href="#">
                                                <i class="fa fa-facebook-square fa-3x social-fb" id="social"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter-square fa-3x social-tw" id="social"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-instagram fa-3x social-in" id="social"></i>
                                            </a>
                                        </div>
                                        <div class="cost-support">
                                            <img src="assets/img/support.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /End 2nd Col-lg-6 col-md-6 -->

        </div>
        <!-- /End Row -->
    </div>
    <!-- /End Container -->
</footer>