<section class="action" style="margin-top:80px;">
  <div class="container">
    <div class="right-image hidden-xs"></div>
    <div class="left-text hidden-xs">
      <h4>Lee Jay Ortiz</h4>
      <p>
        <em>GTT Company, President</em>
        <br>
        <br>
        "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem necessitatibus ipsam blanditiis repellendus aliquid dicta et consectetur impedit culpa architecto enim, modi unde, natus officia sunt pariatur placeat non neque eos. Voluptatum tenetur alias odio odit amet incidunt eaque magni ex eius hic aut quas, sunt nemo fuga quisquam explicabo."
        <br>
        <br>
        -- October 2017
      </p>
    </div>
  </div>

  <section class="action">
    <div class="container">
      <div class="left-text hidden-xs">
        <h4>Roy Sta. Maria</h4>
        <p>
          <em>Agri-Plus, Accounting Head</em>
          <br>
          <br>
          "Inventore at quia, vel in repellendus, cumque dolorem autem ad quidem mollitia porro blanditiis atque rerum debitis eveniet nostrum aliquam. Sint aperiam expedita sapiente amet officia quis perspiciatis adipisci, iure dolorem esse exercitationem!"
          <br>
          <br>
          -- August 2017</p>
      </div>
      <div class="right-image hidden-xs"></div>
    </div>
    <section class="action">
      <div class="container">
        <div class="left-text hidden-xs">
          <h4>Don Paul E. Palomo</h4>
          <p>
            <em>Hamada Boiler, Director</em>
            <br>
            <br>
            "Inventore at quia, vel in repellendus, cumque dolorem autem ad quidem mollitia porro blanditiis atque rerum debitis eveniet nostrum aliquam. Sint aperiam expedita sapiente amet officia quis perspiciatis adipisci, iure dolorem esse exercitationem!"
            <br>
            <br>
            -- July 2017</p>
        </div>
        <div class="right-image hidden-xs"></div>
      </div>
      <section class="action">
        <div class="container">
          <div class="left-text hidden-xs">
            <h4>John Louie Borja</h4>
            <p>
              <em>JLB Boilers, CEO</em>
              <br>
              <br>
              "Inventore at quia, vel in repellendus, cumque dolorem autem ad quidem mollitia porro blanditiis atque rerum debitis eveniet nostrum aliquam. Sint aperiam expedita sapiente amet officia quis perspiciatis adipisci, iure dolorem esse exercitationem!"
              <br>
              <br>
              -- May 2017</p>
          </div>
          <div class="right-image hidden-xs"></div>
        </div>
</section>