<!-- Products  -->
<section class="products">
  <div class="container-fluid container-0padding">
      <div class="products-row">
          <div class="product-showcase">  
              <a routerLink="/products/boom-sprayer">
              <img src="assets/img/boom/boom_sprayer_pr.png" alt="boom-sprayer">
              <h3 class="product-name">Boom Sprayer</h3>
              <hr>
              </a>
          </div>
          <div class="product-showcase">
              <a routerLink="/products/compost-spreader">
                <img src="assets/img/compost/compost_spreader-pr.png" alt="boom-sprayer">
                <h3 class="product-name">Compost Spreader</h3>
                <hr>
              </a>
          </div>
          <div class="product-showcase">
              <a routerLink="/products/fertilizer-broadcaster">
              <img src="assets/img/fertilizer/fertilizer_broadcaster-pr.png" alt="boom-sprayer">
              <h3 class="product-name">Fertilizer Broadcaster</h3>
              <hr>
              </a>
          </div>
      </div>
      <div class="products-row">
          <div class="product-showcase-2">
              <a routerLink="/products/hay-rake">
              <img src="assets/img/hay/hay_rake_pr.png" alt="boom-sprayer">
              <h3 class="product-name">Hay Rake</h3>
              <hr>
          </a>
          </div>
          <div class="product-showcase-2">
              <a routerLink="/products/post-hole-digger">
                <img src="assets/img/hole/post_hole_digger.png" alt="boom-sprayer">
                <h3 class="product-name">post Hole Digger</h3>
                <hr>
          </a>
          </div>
          <div class="product-showcase-2">
            <a routerLink="/products/mobile-shredder">
            <img src="assets/img/shredder/shredder_pr.png" alt="boom-sprayer">
            <h3 class="product-name">Mobile Shredder</h3>
            <hr>
            </a>
          </div>
      </div>
      <div class="products-row">
        <div class="product-showcase">  
            <a routerLink="/products/power-harrow">
            <img src="assets/img/harrow/power_harrow_pr.png" alt="power-harrow">
            <h3 class="product-name">Power Harrow</h3>
            <hr>
            </a>
        </div>
        <div class="product-showcase">
            <a routerLink="/products/mini-series">
            <img src="assets/img/champion/champion_series-pr.png" alt="boom-sprayer">
            <h3 class="product-name">Rotary Tiller</h3>
            <hr>
            </a>
        </div>
        <div class="product-showcase">
            <a routerLink="/products/rotary-slasher">
            <img src="assets/img/slasher/rotary_slasher_pr.png" alt="boom-sprayer">
            <h3 class="product-name">Rotary Slasher</h3>
            <hr>
            </a>
        </div>
      </div>
      <div class="products-row">
          <div class="product-showcase-2">
              <a routerLink="/products/roto-seed-drill">
              <img src="assets/img/seed/seed_drill_pr.png" alt="boom-sprayer">
              <h3 class="product-name">Roto Seed Drill</h3>
              <hr>
          </a>
          </div>
          <div class="product-showcase-2">
              <a routerLink="/products/round-baler">
              <img src="assets/img/baler/round_baler_pr.png" alt="boom-sprayer">
              <h3 class="product-name">Round Baler</h3>
              <hr>
              </a>
          </div>
          <div class="product-showcase-2">
            <a routerLink="/products/self-propelled-platform">
            <img src="assets/img/propelled/propelled_pr.png" alt="boom-sprayer">
            <h3 class="product-name">Self Propelled Platform</h3>
            <hr>
            </a>
          </div>
      </div>
  </div>
</section>
<!-- /End Products  -->