<div class="slider">
    <div id="about-slider">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators visible-xs">
                <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-slider" data-slide-to="1"></li>
                <li data-target="#carousel-slider" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="assets/img/slide1.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>
                                <span>ROTARY TILLER</span>
                            </h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p>It is particularly designed to serve efficiently in all types of crop and soil</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="assets/img/slide2.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                            <h2>POWER HARROW</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p>Its blades are sharp and long enough to till depths of any soil and improve its organic structure.
                                    Its body frame work is strongly built and promises longer durability which makes it a
                                    reliable implement</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/img/slide3.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>BOOM SPRAYER</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p>Especially designed for wider range and coverage of crops to spray all types of pesticides,
                                    weedicides and fungicides</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/img/slide4.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>SQUARE BALER</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p>Shaktiman Square baler uniquely designed for improvement in bale storage and transportation
                                    activities. </p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/img/slide5.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>ROTO SEED DRILL</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p> Shaktiman Roto Seed Drill is a modern application for preparing seedbed and sowing seeds
                                    into soil at the same time. </p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="assets/img/slide6.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>POST HOLE DIGGER</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p> Shaktiman Post Hole Digger (PHD) is tractor operated equipment to dig pits in agriculture
                                    or any other land with less time and effort.</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="assets/img/slide7.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>ROTARY SLASHER</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p> Shaktiman Rotary Slasher is a sturdy implement which is most suitable for slashing pasture
                                    topping and shrubs.</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="assets/img/slide8.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>FERTILIZER BROADCASTER</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p> Shaktiman Fertilizer Broadcaster is a modern technology implement designed to spread fertilizers
                                    with greater ease and efficiency.</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="assets/img/slide9.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>ROUND BALER</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p> Crop residues like Paddy/wheat straw, sugarcane trash left in the field after harvesting,
                                    have immense commercial value as cattle fodder, biomass power generation, ethanol production,
                                    paper production, packaging material, mushroom cultivation, partical board manufacturing,
                                    organic manure and many more.</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="assets/img/slide10.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>HAY RAKE</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                                <p> Shaktiman hay rake is a tractor trailed and ground driven agricultural implement which gives
                                    high quality raking result with overall low cost of ownership.</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>

            <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        <!--/#carousel-slider-->
    </div>
    <!--/#about-slider-->
</div>
<!--/#slider-->

<!-- Products  -->
<section class="products">
    <div class="container-fluid container-0padding">
        <h2 class="text-center" style="margin-top:20px;">
            <strong>Products</strong>
        </h2>
        <hr>
        <div class="products-row">
            <div class="product-showcase">
                <a routerLink="/products/boom-sprayer">
                    <img src="assets/img/boom/boom_sprayer_pr.png" alt="boom-sprayer">
                    <h3 class="product-name">Boom Sprayer</h3>
                    <hr>
                </a>
            </div>
            <div class="product-showcase">
                <a routerLink="/products/mini-series">
                    <img src="assets/img/champion/champion_series-pr.png" alt="boom-sprayer">
                    <h3 class="product-name">Rotary Tiller</h3>
                    <hr>
                </a>
            </div>
            <div class="product-showcase">
                <a routerLink="/products/fertilizer-broadcaster">
                    <img src="assets/img/fertilizer/fertilizer_broadcaster-pr.png" alt="boom-sprayer">
                    <h3 class="product-name">Fertilizer Broadcaster</h3>
                    <hr>
                </a>
            </div>
        </div>
        <div class="products-row">
            <div class="product-showcase">
                <a routerLink="/products/square-baler">
                    <img src="assets/img/square/square_baler-pr.png" alt="boom-sprayer">
                    <h3 class="product-name">Square Baler</h3>
                    <hr>
                </a>
            </div>
            <div class="product-showcase">
                <a routerLink="/products/compost-spreader">
                    <img src="assets/img/compost/compost_spreader-pr.png" alt="boom-sprayer">
                    <h3 class="product-name">Compost Spreader</h3>
                    <hr>
                </a>
            </div>
            <div class="product-showcase">
                <div class="products-view">
                    <a routerLink="/products/list">View More Products</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /End Products  -->

<footer>
    <!-- Container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- 1st Col-lg-6 col-md-6 -->
            <div class="col-lg-6 col-md-6">
                <h3 class="footer-title">Contact Us</h3>
                <p class="footer-com"> COMBUSTION RETROFITTING CO.. INC</p>
                <div class="row">
                    <!-- 2nd Row Inside for col separaton -->
                    <div class="col-lg-6 col-md-12">
                        <!-- 1st col inside another separate -->
                        <div class="footer-nav">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p>
                                No. 916 Cabanatuan-Palayan road,
                                <br> Bantug Norte, Cabanatuan City
                                <br> Nueva Ecija, 3100 Philippines
                            </p>
                        </div>

                        <div class="footer-nav">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>
                                Tel. No.
                                <br> (044) 940-0706
                                <br> Cel. No.
                                <br> +63-9953198-924
                            </p>
                        </div>
                    </div>
                    <!-- /End 1st col inside another separate -->

                    <div class="col-lg-6 col-md-12">
                        <!-- 2nd col inside another separate -->
                        <div class="footer-nav">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <p>
                                sales.shaktiman@comretro.com
                                <br> dakila.palomo@comretro.com
                                <br> donpaul.palomo@hamadaboilerindo.com
                                <br> marie.palomo@comretro.com
                                <br> johnlouieborja@gmail.com
                                <br> nelmorris.duatin@comretro.com
                                <br> leejay.ortiz@comretro.com
                                <br>
                            </p>
                        </div>

                    </div>
                    <!-- /End 2nd col inside another separate -->
                </div>
                <!-- /End 2nd Row Inside for col separaton -->


            </div>
            <!-- /End 1st Col-lg-6 col-md-6 -->

            <!-- 2nd Col-lg-6 col-md-6 -->
            <div class="col-lg-6 col-md-6">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-container widget_nav_menu">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3 class="title-widget">Products</h3>
                                <ul>
                                    <li>
                                        <a routerLink="/products/mini-series"> Rotary Tiller</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/power-harrow"> Power Harrow</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/roto-seed-drill"> Roto Seed Drill</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/post-hole-digger"> Post Hole Digger</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/fertilizer-broadcaster"> Fertilizer Broadcaster</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/mobile-shredder"> Mobile Shredder</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/compost-spreader"> Compost Spreader</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/round-baler"> Round Baler</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-sm-4">
                                <h3 class="title-widget">&nbsp;</h3>
                                <ul>
                                    <li>
                                        <a hrouterLink="/products/hay-rake"> Hay Rake</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/rotary-slasher"> Rotary Slasher</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/self-propelled-platform"> Self Propelled Platform</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/square-baler"> Square Baler</a>
                                    </li>
                                    <li>
                                        <a routerLink="/products/boom-sprayer"> Boom Sprayer</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-4">
                                <ul class="list-unstyled clear-margins">
                                    <li class="widget-container widget_recent_news">
                                        <h3 class="title-widget">SOCIAL</h3>
                                        <div class="social-icons">
                                            <a href="#">
                                                <i class="fa fa-facebook-square fa-3x social-fb" id="social"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter-square fa-3x social-tw" id="social"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-instagram fa-3x social-in" id="social"></i>
                                            </a>
                                        </div>
                                        <div class="cost-support">
                                            <img src="assets/img/support.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /End 2nd Col-lg-6 col-md-6 -->

        </div>
        <!-- /End Row -->
    </div>
    <!-- /End Container -->
</footer>