<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Delivery Reciept : You can add delivery details here.</div>
    <div class="panel-body">

      <div class="row show-hide-message">
        <div [ngClass]="messageClass">
          {{ message }}
        </div>
      </div>

      <form [formGroup]="form" class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-2 control-label">Client Name : </label>
          <div class="col-sm-3" [ngClass]="{'has-error': form.controls.client.errors && form.controls.client.dirty, 'has-success': form.controls.client.valid && form.controls.client.dirty }">

            <input class="dropdown-toggle" data-toggle="dropdown" type="text" class="form-control" formControlName="client"
              [(ngModel)]="model.client" name="client" (keyup)=filterByClient() autocomplete="off">

            <!-- Dropdown -->
            <div class="dropdown-menu" *ngIf="clientList.length > 0">
              <ul *ngFor="let item of clientList">
                <li (click)="select(item,'client')">
                  <a (click)="select(item,'client')">{{item}}</a>
                </li>
              </ul>
            </div>

            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="form.controls.client.errors?.required && form.controls.client.dirty">
                This field is required.
              </li>
            </ul>
          </div>

          <label class="col-sm-2 control-label">Contact # :</label>
          <div class="col-sm-3">
            <p class="form-control">{{clientContact}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Address :</label>
          <div class="col-sm-8">
            <p class="form-control">{{clientAddress}}</p>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label class="col-sm-2 control-label">Agent Name : </label>
          <div class="col-sm-3" [ngClass]="{'has-error': form.controls.agent.errors && form.controls.agent.dirty, 'has-success': form.controls.agent.valid && form.controls.agent.dirty }">
            <input class="dropdown-toggle" data-toggle="dropdown" type="text" class="form-control" formControlName="agent"
              [(ngModel)]="model.agent" name="agent" (keyup)=filterByAgent() autocomplete="off">

            <!-- DROPDOWN SUGGESTION -->
            <div class="dropdown-menu" *ngIf="agentList.length > 0">
              <ul *ngFor="let item of agentList">
                <li class="down" (click)="select(item,'agent')">
                  <a (click)="select(item,'agent')">{{item}}</a>
                </li>
              </ul>
            </div>

            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="form.controls.agent.errors?.required && form.controls.agent.dirty">
                This field is required.</li>
              <li *ngIf="form.controls.agent.errors?.pattern && form.controls.agent.dirty">
                This field only accepts numbers and letters, no special characters.
              </li>
            </ul>

          </div>
          <label class="col-sm-2 control-label">Contact # :</label>
          <div class="col-sm-3">
            <p class="form-control">{{agentContact}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Address :</label>
          <div class="col-sm-8">
            <p class="form-control">{{agentAddress}}</p>
          </div>
        </div>
        <hr>
        <div class="row show-hide-message">
          <div [ngClass]="messageClassItem">
            {{ messageItem }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Item Name : </label>
          <div class="col-sm-8" [ngClass]="{'has-error': form.controls.itemName.errors && form.controls.itemName.dirty, 'has-success': form.controls.itemName.valid && form.controls.itemName.dirty }">

            <input class="dropdown-toggle" data-toggle="dropdown" type="text" class="form-control" formControlName="itemName"
              [(ngModel)]="itemName" name="itemName" (change)="clear()" (keyup)="filterByItem()" autocomplete="off">

            <!-- DROPDOWN SUGGESTION -->
            <div class="dropdown-menu" *ngIf="itemNameList.length > 0">
              <ul *ngFor="let item of itemNameList">
                <li class="down" (click)="select(item,'item')">
                  <a (click)="select(item,'item')">{{item}}</a>
                </li>
              </ul>
            </div>

            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="form.controls.itemName.errors?.pattern && form.controls.itemName.dirty">
                This field only accepts numbers and letters, no special characters.
              </li>
            </ul>

          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Serial No. : </label>
          <div class="col-sm-3" [ngClass]="{'has-error': form.controls.serialNo.errors && form.controls.serialNo.dirty, 'has-success': form.controls.serialNo.valid && form.controls.serialNo.dirty }">
            <input class="dropdown-toggle" data-toggle="dropdown" type="text" class="form-control" formControlName="serialNo"
              [(ngModel)]="serialNo" name="serialNo" (keyup)=filterBySerial() autocomplete="off">

            <!-- DROPDOWN SUGGESTION -->
            <div class="dropdown-menu" *ngIf="serialNoList.length > 0">
              <ul *ngFor="let item of serialNoList">
                <li class="down" (click)="select(item,'serial')">
                  <a (click)="select(item,'serial')">{{item}}</a>
                </li>
              </ul>
            </div>

            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="form.controls.serialNo.errors?.pattern && form.controls.serialNo.dirty">
                This field only accepts numbers.
              </li>
            </ul>

          </div>
          <label class="col-sm-2 control-label">Quantity : </label>
          <div class="col-sm-3" [ngClass]="{'has-error': form.controls.quantity.errors && form.controls.quantity.dirty, 'has-success': form.controls.quantity.valid && form.controls.quantity.dirty }">
            <div class="col-sm-8" style="padding-left:0;">
              <input type="text" class="form-control" formControlName="quantity" [(ngModel)]="quantity" name="quantity"
                (click)=checkQuantity() (keyup)=checkQuantity()>
            </div>
            <a [class.disabled]="hasQuantity || form.controls.quantity.errors " class="btn btn-success" (click)=addItem()>
              <i class="fa fa-plus"></i> Add</a>

            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="form.controls.quantity.errors?.pattern && form.controls.quantity.dirty">
                This field only accepts numbers.
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <br>
        <div class="form-group">
          <label class="col-sm-2 control-label">DR # :</label>
          <div class="col-sm-3">
            <p class="form-control">{{drNo}}</p>
          </div>
          <label class="col-sm-2 control-label">Processed by :</label>
          <div class="col-sm-3">
            <p class="form-control">{{global.employeeName}}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Approved By : </label>
          <div class="col-sm-3" [ngClass]="{'has-error': form.controls.approved.errors && form.controls.approved.dirty, 'has-success': form.controls.approved.valid && form.controls.approved.dirty }">
            <input type="text" class="form-control" formControlName="approved" [(ngModel)]="approved" name="approved"
              (keyup)="updateApproved()">

            <!-- Validation -->
            <ul class="help-block">
              <li *ngIf="form.controls.approved.errors?.pattern && form.controls.approved.dirty">
                This field only accepts numbers and letters, no special characters.
              </li>
            </ul>
          </div>



          <label class="col-sm-2 control-label">Date :</label>
          <div class="col-sm-3">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" [(ngModel)]="model.date" placeholder="Choose a date" class="form-control"
                formControlName="date" name="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <hr>

        <div class="form-group">
          <label class="col-sm-2 control-label">Comments : </label>
          <div class="col-sm-8">
            <textarea class="form-control" cols="30" rows="4" formControlName="comments" [(ngModel)]="comments" name="comments"></textarea>
          </div>
        </div>

        <table class="table table-bordered">
          <thead>
            <tr class="text-center" style="background-color:dimgrey; color:white;">
              <td>QTY</td>
              <td>Engine / Chasis No.
                <br>/ Serial No.</td>
              <td class="one">Description</td>
              <td class="two">Unit Price</td>
              <td class="three">Total</td>
              <td width=150 align="center">Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td class="text-center">{{item.quantity}}</td>
              <td>{{item.engine}} / {{item.chasis}}
                <br> {{item.serial}}</td>
              <td class="one">{{item.description}}</td>
              <td class="two text-center">{{item.price}}</td>
              <td class="three text-center">{{item.total}}</td>
              <td width=150 class="text-center">
                <a class="btn btn-danger" (click)="deleteItem(item.serialNo)">Delete</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-right">
                <strong>Total :</strong>
              </td>
              <td class="text-center">{{total}}</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
        <hr>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-8">
            <button [disabled]="!form.valid || processing || hasItem" type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-danger" (click)="clearAll()" (click)="saveDR()">Clear</a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>